
        <style>
            nav{
                list-style-type:none;
                margin:0;
                padding:0;
                overflow:hidden;
                background-color:#1e293b;
                border-radius:10px;
            }
            nav li{
                float:left;
                display:block;
                color:white;
                text-align:center;
                padding:14px 16px;
                text-decoration:none;
            }
            nav a{
                display:block;
                color:white;
                text-align:center;
                padding:14px 16px;
                text-decoration:none;
            }
            nav a:hover{
                background-color:#334155;
                border-radius:5px;
            }
        </style>
    
        <nav>
            <li><a href="/home">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/upload">Upload</a></li>
              <li><a href="/">Login</a></li>
        </nav>
    
